// Colors
$main-bg: #54818f;
$accent-one: #e4e942;
$accent-two: #1a5d71;
$main-text: #ffffff;
$accent-text: #000000;

// Other
$small-radius: 4px;
$big-radius: 20px;
$std-padding: 2rem;
$accent-font: 'Permanent Marker', cursive;